body {
    background-color: #f8f9fa;
}

h2 {
    margin-top: 20px;
}

.form-section {
    display: none;
}

.form-section.active {
    display: block;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a:hover {
    background-color: rgb(64, 92, 232);
    border-radius: 4px;
}

.nav-link.text-danger {
    font-weight: bold;
    color: red !important;
}




